<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	{{!-- CSS STYLESHEET --}}
	<link rel="stylesheet" href="css/style-login.css" type="text/css">
	<link rel="stylesheet" href="css/style-setup.css" type="text/css">
	<link rel="stylesheet" href="css/style-profile.css" type="text/css">
	<link rel="stylesheet" href="css/style-signup.css" type="text/css">
	

		<title>Kuma</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	
	</head>
	<body>
		{{{ body }}}
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
