<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Kuma</title>

			<!-- Latest compiled and minified CSS & JS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>

		{{!-- <nav class="nav-bar nav">
            <a href="signup.html" class="navSpan">Sign Up</a>
            <a href="profile.html" class="navSpan">Profile</a>
            <a href="community.html" class="navSpan">Community</a>
            <a href="calendar.html" class="navSpan">Calendar</a>
            <a href="maps.html" class="navSpan">Map</a>
            <a href="contact.html" class="navSpan">Contact</a>
        </nav> --}}

		{{{ body }}}
			
		<div class="row">
				<div class="col-md-8 offset-md-2">
					<footer class="card text-center">
						<div class="card-body">

							<p>
								<!-- collaborators -->
								<a href="https://github.com/kdoh52" target="_blank">Kevin Doh</a>, 
								<a href="https://github.com/aliciagorton" target="_blank">Alicia Gorton</a>, and
								<a href="https://github.com/davidlindnerjr" target="_blank">David Lindener</a>
							</p>

							<p>
								<!-- repository -->
								Link to our: <a href=>Project Repository</a>
								<!-- copy right -->
								<a href="https://jgthms.com"></a>. The source code is licensed
								<a href="http://opensource.org/licenses/mit-license.php">Triology</a>. 
							</p>
							<p>
								Copyright © 2020 All Rights Reserved.
							</p>

						</div>
					</footer>
				</div>
			</div>
		
		</div>

	</body>

</html>
