
<!-- Community Posts  -->
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="post-container">
            <h1>Community Postings</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th># of Posts</th>
                        <th>See Author's Posts</th>
                        <th>New Post</th>
                        <th>Delete Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="form-row">
                        <form id="post-form">
                            <td colspan="12">
                                <input placeholder="Ente topic" id="post-name" type="text" />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success">Create Post</button>
                            </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

      