<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="css/contact.css" type="text/css">
            
<nav>
    <div class="nav-wrapper grey darken-3">
        <div href="#" class="brand-logo">Kuma</div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="profileNav"><a href="/profile">Profile</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container about">
    <div class="card large about-color">
        <h1>Find Us Here!</h1>
        <span><i style="font-size: 100px;" class="fa fa-github-square"></i></span>
        <span class="container">
            <a href="https://github.com/kdoh52">Kevin Doh</a>
            <a href="https://github.com/aliciagorton">Alicia Gorton</a>
            <a href="https://github.com/davidlindnerjr">David Lindner</a>
        </span>
        <h1>Email: </h1>
        <span>
            <a href="https://kdoh52@gmail.com" target="blank">kdoh52@gmail.com</a>
            <a href="https://apersigehl@gmail.com" target="blank">apersigehl@gmail.com</a>
            <a href="https://davidlindnerjr@gmail.com" target="blank">davidlindnerjr@gmail.com</a>
        </span>
    </div>
</div>
        