{{!-- style2.css --}}
<link rel="stylesheet" href="css/style-login.css" type="text/css">

<!-- container-->
    <div class="container">
        <!-- login -->
        <div class="login">
            <h1>Kuma</h1>
            <button class="login__avatar" id="toggleLogin">
                <img src="./image/playing.png" alt="dog running" /> 
            </button>
            {{!-- form --}}
            <form id="loginForm">
            <div id ="login" class="login-form">
                {{!-- input --}}
                <div class="login-input">
                    {{!-- username --}}
                    <div class="field">
                        <input id="loginEmail" type="text"  name="email" class="input" placeholder="email" requiredpattern=.*\S.* />
                        {{!-- <label for="loginEmail" class="label">Email</label> --}}
                    </div>
                    {{!-- password --}}
                    <div class="field">
                        <input id="loginPassword" type="password"  name="password" class="input" placeholder="password" requiredpattern=.*\S.* />
                        {{!-- <label for="loginPassword" class="label">Password</label> --}}
                    </div>
                    {{!-- button --}}
                    <div class="login-footer container-login-form-btn">
                        <div class="wrap-login-form-btn">
                            <div class="login-form-bgbtn"></div>
                            <button id="login-btn"class="login-form-btn">
                                Login
                            </button>
                             <button id="signup-btn" class="login-form-btn">
                                <a href="/signup">Sign Up</a>
                            </button>
            
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{{!-- footer --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>

