{{!-- main --}}
<div class="limiter">
<!-- container-->
    <div class="container-signin">
        <!-- signin & image -->
        <div class="signin-more" style="background-image: url('image/petting.png');" alt="dog on beach happy"></div>
        {{!-- signin --}}
        <div class="wrap-signin p-l-50 p-r-50 p-t-72 p-b-50">
            {{!-- form--}}
            <form class="login signin-form validate-form">
                <span class="signin-form-title p-b-59">
                    Welcome Back 
                </span>
                {{!-- input --}}
                {{!-- username --}}
                <div class="wrap-input validate-input" data-validate="Username is required">
                    <span class="label-input">Username: </span>
                    <input class="signin" type="text" name="username" placeholder="Username...">
                    <span class="focus-signin"></span>
                </div>
                <div class="wrap-input validate-input" data-validate="Password is required">

                    <span class="label-input">Password: </span>
                    <input class="signin" type="text" name="password" placeholder="*************">
                    <span class="focus-signin"></span>
                </div>

              {{!-- login button --}}
                <div class="container-signin-form-btn">
                    <div class="wrap-signin-form-btn">
                        <div class="signin-form-bgbtn"></div>
                        <button class="signin-form-btn">
                            login
                        </button>
                    </div>

                    <a href="/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        sign up 
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>