    <div class="tab-content py-4">
        <div class="tab-pane active" id="profile">
            <h5 class="mb-3">Profile</h5>
            <div class="row">
                <div class="col-md-6">
                    <h6>About You</h6>
                    <p>
                        Sacramento, CA
                    </p>
                    <h6>Contact</h6>
                        <tbody>                                    
                            <tr>
                                <td>
                                    <strong>Number</strong> (999)-999-9999
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Address</strong> 1111 Street, Sacramento CA 95833
                            </tr>
                            <tr>
                                <td>
                                    <strong>Emergency Contact</strong> (999)-999-9999
                                </td>
                            </tr>
                        </tbody>   
                </div>
                <div class="col-md-6">
                    <h6>Vet Information</h6>
                    <p>
                        Animal Hospitl of Sacramento 
                        #(999)999-9999
                    </p>
                </div>
                <div class="col-md-12">
                    <h5> Pet Information</h5>
                        <tbody>                                    
                            <tr>
                                <td>
                                    <strong>Name</strong> Ava 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Breed</strong> Australian Shepard
                            </tr>
                            <tr>
                                <td>
                                    <strong>Color</strong> Black, White, and Grey
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Age</strong> 10 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>birthday</strong> 10
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/row-->
                
            <div class="tab-pane" id="pet">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a> 
                </div>
                <table class="table table-hover table-striped">
                    <tbody>                                    
                        <tr>
                            <td>
                                <strong>Name</strong> Ava 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Breed</strong> Australian Shepard
                        </tr>
                        <tr>
                            <td>
                                <strong>Color</strong> Black, White, and Grey
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Age</strong> 10 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>birthday</strong> 10
                        </tr>
                    </tbody> 
                </table>
            </div>
                <div class="tab-pane" id="availability">
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <p>calendar??</p>>
                            </div>
                        </div>
                 
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="../public/image/ava2.JPG" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Ava</h6>
            <label class="custom-file">
                <input type="file" id="file" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
</div>       