<h1>Set up your profile!</h1>

<form>
    <label>Pet Name:</label>
    <input type="text" id="petName">
    <br>
    <label>Breed:</label>
    <input type="text" id="petBreed">
    <br>
    <label>Age (human years):</label>
    <input type="text" id="petAge">
    <br>
    <label>Energy Level:</label>
    <select id="petEnergy">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
    <br>
    <label>Personality:</label>
    <input type="text" id="petPersonality">
    <br>
    <button class="submitPet" type="submit">Create Profile!</button>
</form>