<link rel="stylesheet" href="css/setup.css" type="text/css">

{{!-- main --}}
<div class="limiter">
    <!-- container-->
    <div class="container-setup">


        <div class="setup-more" style="background-image: url('image/sadie.jpeg');" alt="dog on beach happy"></div>


        <div class="wrap-setup">



            <form id="setup-form" class="setup-form validate-form">
                <span class="setup-form-title ">
                    Let's Setup Your Account!
                </span>


                <div class="wrap-input validate-input" data-validate="Pet Name required">

                    <span class="label-input">Pet Name: </span>

                    <input id="petName" class="setup" type="text" name="petName">

                    <span class="focus-setup"></span>
                </div>


                <div class="wrap-input validate-input" data-validate="Breed required">
                    <span class="label-input">Breed: </span>

                    <input id="petBreed" class="setup" type="text" name="petBreed">
                    <span class="focus-setup"></span>
                </div>


                <div class="wrap-input validate-input" data-validate="Age required">
                    <span class="label-input">Age: </span>

                    <input id="petAge" class="setup" type="text" name="petAge">
                    <span class="focus-setup"></span>
                </div>

                <div class="wrap-input validate-input" data-validate="Bio required">
                    <span class="label-input">Bio: </span>
                    <input id="petBio" class="setup" type="text" name="petBio">
                    <span class="focus-setup"></span>
                </div>

                <div class="wrap-input validate-input" data-validate="Energy required">
                    <span class="label-input">Energy Level: </span>
                    <select id="petEnergy" class="setup" type="text" name="petEnergy">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                    <span class="focus-setup"></span>
                </div>

                <div class="wrap-input validate-input" data-validate="Personality required">
                    <span class="label-input">Personality: </span>
                    <select id="petPersonality" class="setup" name="petPersonality">
                        <option value="1">Shy</option>
                        <option value="2">Comfortable with people</option>
                        <option value="3">Comfortable with dogs</option>
                        <option value="4">Comfortable with both</option>
                    </select>
                    <span class="focus-setup"></span>
                </div>

                <div class="wrap-input validate-input" data-validate="Microchip required">
                    <span class="label-input">Does your pet have a microchip?: </span>
                    <select id="petChip" class="setup" name="petChip">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span class="focus-setup"></span>
                </div>

                <div class="wrap-input validate-input" data-validate="Vet required">
                    <span class="label-input">Veterinarian Office Information: </span>
                    <input id="petVet" class="setup" type="text" name="petVet">
                    <span class="focus-setup"></span>
                </div>

                <div class="wrap-input validate-input">
                    <span class="label-input">Profile Picture: </span>
                    <input id="petImg" class="setup" type="file" name="img" accept="image/*">
                    <span class="focus-setup"></span>
                </div>
                {{!-- Button --}}
                <div class="container-setup-form-btn">
                    <div class="wrap-setup-form-btn">
                        <div class="setup-form-bgbtn"></div>
                        <button class="setup-form-btn">
                            Create Profile
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/profile-setup.js"></script>