<h1>Set up your profile!</h1>

<form class="profileSetup">
    <label>Pet Name:</label>
    <input type="text" id="petName">
    <br>
    <label>Breed:</label>
    <input type="text" id="petBreed">
    <br>
    <label>Age (human years):</label>
    <input type="text" id="petAge">
    <br>
    <label>Energy Level:</label>
    <select id="petEnergy">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
    <br>
    <label>Personality:</label>
    <input type="text" id="petPersonality">
    <br>
    <label>Bio:</label>
    <input type="text" id="petBio">
    <br>
    <label>Does your pet have a microchip?:</label>
    <select id="petChip">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <br>
    <label>Vet Office:</label>
    <input type="text" id="petVet">
    <br>
    <label for="img">Profile picture:</label>
    <input type="file" id="petImg" name="img" accept="image/*">
    <br>
    <button class="submitPet" type="submit">Create Profile!</button>
</form>