 {{!-- nav --}}
 <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>

{{!-- main body --}}
<div class="container">
  {{!-- start of form --}}
    <div class="signup-form ">   
      <form method="POST" class="signup-form" id="signup-form">
        <h2 class="form-title">CREATE ACCOUNT</h2>
        <div class="form-group">
          <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Username" id="username" placeholder="Create Username"/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="Password" id="password" placeholder="Password"/>
          <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="Re_password" id="re_password" placeholder="Repeat your password"/>
        </div>
        {{!-- terms & conditions --}}
        <div class="form-group">
          <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
          <label for="agree-term" class="label-agree-term">
            <span><span></span></span>I agree all statements in  
            <a href="#" class="term-service">Terms of service</a>
          </label>
        </div>
        {{!-- Error --}}
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        {{!-- button --}}
        <div class="form-group">
          <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
        </div>
      </form>
      <p class="loginhere"> Have already an account ? 
        <a href="#" class="loginhere-link">Login here</a>
      </p>
      </div>
    </div>
  </div>

<footer class="mastfoot mt-auto text-center">
    <div class="inner">
    <p>
        <!-- collaborators -->
        <a href="https://github.com/kdoh52" target="_blank">Kevin Doh</a>,
        <a href="https://github.com/aliciagorton" target="_blank">Alicia Gorton</a>, and
        <a href="https://github.com/davidlindnerjr" target="_blank">David Lindner</a>

        <!-- repository -->
        Link to our: <a href=>Project Repository</a>
        <!-- copy right -->
        <a href="https://jgthms.com"></a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">Trilogy</a>.
        <p>Copyright © 2020 All Rights Reserved.</p>
        </p>
    </div>
</footer>
<script type="text/javascript" src="js/signup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

