<link rel="stylesheet" href="css/signup.css" type="text/css"> 

<div class="limiter">
    <!-- container-->
    <div class="container-signup">

        <div class="signup-more" style="background-image: url('image/beach.png');" alt="dog on beach happy"></div>

        <div class="wrap-signup">

            <form id="signup-form" class="signup-form validate-form">
                <span class="signup-form-title">
                    Sign Up
                </span>


                <div class="wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">

                    <span class="label-input">Email: </span>

                    <input id="email" class="signup" type="email" name="email">

                    <span class="focus-signup"></span>
                </div>

                <div class="wrap-input validate-input" data-validate="Username is required">
                    <span class="label-input">Username: </span>

                    <input id="username" class="signup" type="text" name="username">
                    <span class="focus-signup"></span>
                </div>

                <div class="wrap-input validate-input" data-validate="Password is required">
                    <span class="label-input">Password: </span>

                    <input id="password" type="password" class="signup" name="password">
                    <span class="focus-signup"></span>
                </div>

                <div class="wrap-input validate-input" data-validate="Repeat Password is required">
                    <span class="label-input">Confirm Password: </span>
                    <input id="password-confirm" type="password" class="signup" type="text" name="repeat-password">
                    <span class="focus-signup"></span>
                </div>

                <div class="container-signup-form-btn">
                    <div class="wrap-signup-form-btn">
                        <div class="signup-form-bgbtn"></div>
                        <button class="signup-form-btn">
                            create
                        </button>
                    </div>

                    <a href="/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        log in
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="signup.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>