 <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Sign Up Form</h2>
        <form class="signup">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
           <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
      </div>
    </div>
  </div>
<footer class="mastfoot mt-auto text-center">
    <div class="inner">
    <p>
        <!-- collaborators -->
        <a href="https://github.com/kdoh52" target="_blank">Kevin Doh</a>,
        <a href="https://github.com/aliciagorton" target="_blank">Alicia Gorton</a>, and
        <a href="https://github.com/davidlindnerjr" target="_blank">David Lindner</a>

        <!-- repository -->
        Link to our: <a href=>Project Repository</a>
        <!-- copy right -->
        <a href="https://jgthms.com"></a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">Trilogy</a>.
        <p>Copyright © 2020 All Rights Reserved.</p>
        </p>
    </div>
</footer>
<script type="text/javascript" src="js/signup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

