*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  /*navbar*/
  
  .nav{
    position: absolute;
    top: 0px;
    width:100%;
  }
  
  .myNavbar{
    position: top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    height: 60px;
    width:100%;
  }

  .title{
    color: white;
    /* font-weight: bold; */
    font-family: poppins;
    font-size: 3rem;
    /* padding-bottom: 20px; */
    font-size: 3rem;
    margin: .5rem;
    margin-left: 20px;
  }
  
  .links ul{
    margin: 0;
    padding: 0;
    font-family: poppins;
    display: flex;
  }
  
  .links li{
    list-style: none;
  }
  
  .links li a{
    text-decoration: none;
    color:white;
    padding: 1rem;
    display: block;
    font-size: larger;
  }
  
  .links li:hover {
    background-color: #555;
  }
  
  .toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:31px;
    height: 21px;
  }
  
  .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius:  10px;
  }
  
  @media screen and (max-width: 400px){
    .toggle-button{
      display: flex;
    }
  
    .links{
      display: none;
      width: 100%;
    }
  
    .myNavbar{
      flex-direction: column;
      align-items: flex-start;
    }
  
    .links ul{
      flex-direction: column;
      width: 100%;
    }
  
    .links li{
      text-align: center;
    }
  
    .links li a{
      padding: .5rem 1rem;
      
    }
  
    .links.active{
      display: flex;
  
    }
  }

  body{
    background-image: url('../image/dog-with-stick.jpg');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    color: white;
  }

  h1{
    color: #0cc6cc
  }

  .stats{
      font-size: 12px;
      margin: 3.5px;
  }
  .stats:hover{
    cursor: pointer;
  }

  .dogProfile {
    padding: 35px;
    margin: 20px;
    /* margin-right: 10px; */
    margin: auto;
    margin-bottom: 20px;
    width: 215px;
    background-color: rgba(0,0,0,0.8);
    height: 215px;
    text-align: center;
    border-radius: 5px;
  }

  .cont{
    padding-top: 100px;
  }

  html {
    height: 100%;
  }

  a {
    font-size: large;
  }