/* LOGIN */
*, *:after, *:before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: sans-serif;
  min-height: 100%;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  color:white;
}

img {
  vertical-align: middle;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

/* Container */
.container {
  position: absolute;
  width: 24em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* login */
.login {
  position: relative;
  text-align: center;
  font-weight: bold;
}

.login--open .login-form{
  visibility: visible;
  height: auto;
  opacity: 1;
  transform: translateY(-6em);
  padding-top: 12em;
}
.login--open .login-input {
  opacity: 1;
  visibility: visible;
}
.login--open .login__avatar {
  transform: translate(-50%, -1.5em);
  border-radius: 50%;
}

.login__form {
  color:white;
  position: relative;
  background: white;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 3em;
  border-radius: .25em;
  -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
  transition: 
    opacity .4s ease-in-out,
    height .4s ease-in-out,
    transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.login-input {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.login__avatar {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.25em;
  overflow: hidden;
  width: 4.5em;
  height: 4.5em;
  display: block;
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
}
.login__avatar:focus {
  outline: 0;
}
.login__footer {
  padding-top: 1em;
  }
  

/* Form */
.field {
  position: relative;
  margin-bottom: 2em;
}
.label {
  position: absolute;
  height: 2rem;
  line-height: 2rem;
  bottom: 0;
  color: white;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid white;
  color: white;
  transition: all .2s ease-in;
}
.input:focus {
  outline: 0;
  border-color: white;
}

.input:focus + .label,
input:valid + .label {
  transform: translateY(-100%);
  font-size: 0.75rem;
  color: white;
}
  
/* BUTTON */
.btn {
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: #8E49E8;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}
.btn:focus {
  outline: 0;
}
.btn:hover,
.btn:focus {
  background: #A678E2;
}


/* ANIMATION */
  @keyframes intro {
    from {
      opacity: 0;
      top: 0;
    }
    to {
      opacity: 1;
      top: 50%;
    }
  }

  .login-input-background{
    padding: 70px;
    border-radius: 20px;
    background-color: black;
    opacity: 0.9;
  }

  .title{
    color: white;
    font-weight: bold;
    font-family: poppins;
    font-size: 50px;
    padding-bottom: 20px;
  }

  #loginEmail{
    color:white;
  }

  ::placeholder{
    color:white;
  }

  .btn-login{
    color: #0cc6cc
  }
  .btn-login:hover{
    text-decoration: none;
    color: #17d4bb
  }

  .btn-signup{
    color: #0cc6cc;
  }
  .btn-signup:hover{
    color: #17d4bb;
    text-decoration: none;
  }