*{
  margin: 0;
  padding: 0;
}

body, html{
  color:white;
  font-family: poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body{
  background-image: url('../image/German-Shepherd-Puppy-Fetch.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.center .pet-avatar img{
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin-top: 5%;
  object-position: 0 -8px;
}

.center{
  width: 55%;
  background-color: rgba(0,0,0,0.8);
  height: 60vh;
  text-align: center;
  border-radius: 5px;
}

.content{
  padding: 30px;
}

h1{
  color: white;
}

.content h3, p{
  font-weight: lighter;
  letter-spacing: 1px;
  width: 70%;
  margin: 10px auto;
}

.content h2{
  font-weight: 400;
}
