/* PROFILE */
/* PROFILE & DASHBOARD NAVBAR */
.navbar-area {
    background: -webkit-linear-gradient(left, #76faed 0%, #5b7dda 100%);
    background: -o-linear-gradient(left, #76faed 0%, #5b7dda 100%);
    background: linear-gradient(to right, #76faed 0%, #5b7dda 100%);
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    /* Navbar options text */
  .navbar-area .navbar .navbar-nav .nav-item a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 11px 16px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin: 14px 0; }
  /* Line appears under options */
  .navbar-area .navbar .navbar-nav .nav-item a::before {
    position: absolute;
    content: '';
    width: 32px;
    height: 4px;
    background-color: #fff;
    left: 50%;
    bottom: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-transform: translateX(-50%) scaleX(0);
    -moz-transform: translateX(-50%) scaleX(0);
    -ms-transform: translateX(-50%) scaleX(0);
    -o-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0); }
  /* highlights options */
  .navbar-area .navbar .navbar-nav .nav-item.active > a::before, .navbar-area .navbar .navbar-nav .nav-item:hover > a::before {
    -webkit-transform: translateX(-50%) scaleX(1);
    -moz-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    -o-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1); }
  .navbar-area.sticky {
  position: fixed;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 5px 0; }

  /*  */
  /* PROFILE CSS */
  /*  */
  
  
  
    
  .nav-link {
    color: #5a82f0;
  }
  .bio-vet {
    margin-top: 20px;
  }
  .basic-info {
    margin-left: 5%;
    margin-right: 5%;
  }
  h1 {
    color: #5a82f0;
  }